
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$1KQySH9LHkCKjyPK$fpL1LzsjKOtVIc8tZEVhLRoB2RnDCcnGJ63dfMYXZxA/rq26dhPvzML34ijCWMoj4GYV/fzeKmmVEHRzT4WgJ0
!
management api http-commands
   no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ hostname }}
!
snmp-server community public rw
snmp-server host 10.0.100.1 version 2c public
snmp-server enable traps
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
{% if vlans is defined %}
{% for vlan in vlans %}
vlan {{ vlan.id }}
{% if vlan.name is defined %}   name {{ vlan.name }}{% endif %}
!
{% endfor %}
{% endif %}

management api gnmi
   transport grpc default
   !
   transport grpc openmgmt
      authorization requests
   operation set persistence
!
management api netconf
   transport ssh default
!

!interface Management0
!{% if management_ip.ip is defined %}   ip address {{ management_ip.ip }}{% endif %}
!{% if management_ip.ipv6 is defined %}   ipv6 address {{ management_ip.ipv6 }}{% endif %}
!{% if management_ip.shutdown %}   shutdown{% endif %}
!

{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.shutdown %}   shutdown{% endif %}
{% if intf.switchport is defined %}
   {% if intf.switchport %}switchport{% else %}no switchport{% endif %}
{% endif %}
{% if intf.access_vlan is defined %}   switchport access vlan {{ intf.access_vlan }}{% endif %}
{% if intf.trunk_mode %}   switchport mode trunk{% endif %}
{% if intf.ip is defined %}   ip address {{ intf.ip }}{% endif %}
{% if intf.ipv6 is defined %}   ipv6 address {{ intf.ipv6 }}{% endif %}
{% if intf.acl_in is defined %}   ip access-group {{ intf.acl_in }} in{% endif %}
{% if intf.vrrp is defined %}
   vrrp {{ intf.vrrp.id }} priority-level {{ intf.vrrp.priority }}
   vrrp {{ intf.vrrp.id }} ipv4 {{ intf.vrrp.ip }}
{% endif %}
{% if intf.ospf_area is defined %}   ipv6 ospf {{ ospf_process }} area {{ intf.ospf_area }}{% endif %}
!
{% endfor %}

ip access-list ssh
   10 deny tcp any any eq ssh
   20 deny tcp any any eq telnet
   30 permit ip any any
!

ip routing
!
ipv6 unicast-routing
!
{% for route in ipv4_routes %}
ip route {{ route.network }} {{ route.next_hop }}
{% endfor %}
!
{% for route in ipv6_routes %}
ipv6 route {{ route.network }} {{ route.next_hop }}
{% endfor %}
!

router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!

router ospf {{ ospf_process }}
{% for intf in interfaces %}
{% if intf.ip is defined %}
   network {{ intf.ip.split('/')[0] }}/{{ intf.ip.split('/')[1] }} area 0.0.0.0
{% endif %}
{% endfor %}
   redistribute rip
   max-lsa {{ ospf_max_lsa }}
!

ipv6 router ospf {{ ospf_process }}
!

router rip
{% for net in rip_networks %}
   network {{ net }}
{% endfor %}
   redistribute ospf
   no shutdown
!
end
