
no aaa root
!
username admin privilege 15 role network-admin secret sha512 $6$tbuySpdK1tK1WSEK$/CsmpyrLCyLDV.Z5a/eICd3rScqlOKsynp1yvP0wM7EPkcnArfNCHL3mnLBUyKvN3dahjDjgO5cnkcCEVk7Yf1
!
management api http-commands
   no shutdown
!
no service interface inactive port-id allocation disabled
!
transceiver qsfp default-mode 4x10G
!
service routing protocols model multi-agent
!
hostname {{ hostname }}
!
snmp-server community public rw
snmp-server host 10.0.100.1 version 2c public
snmp-server enable traps
!
spanning-tree mode mstp
!
system l1
   unsupported speed action error
   unsupported error-correction action error
!
management api gnmi
   transport grpc default
      authorization requests
   !
   transport grpc openmgmt
      authorization requests
   operation set persistence
!
management api netconf
   transport ssh default
!


{% for intf in interfaces %}
interface {{ intf.name }}
{% if intf.shutdown %}   shutdown{% endif %}
{% if intf.switchport is defined %}   switchport{% if not intf.switchport %} no switchport{% endif %}{% endif %}
{% if intf.ip is defined %}   ip address {{ intf.ip }}{% endif %}
{% if intf.ipv6 is defined %}   ipv6 address {{ intf.ipv6 }}{% endif %}
{% if intf.ospf_area is defined %}   ipv6 ospf {{ ospf_process }} area {{ intf.ospf_area }}{% endif %}
!
{% endfor %}

ip routing
!
ipv6 unicast-routing
!
{% for route in ipv4_routes %}
ip route {{ route.network }} {{ route.next_hop }}
{% endfor %}
!
{% for route in ipv6_routes %}
ipv6 route {{ route.network }} {{ route.next_hop }}
{% endfor %}
!
router multicast
   ipv4
      software-forwarding kernel
   !
   ipv6
      software-forwarding kernel
!
router ospf {{ ospf_process }}
{% for intf in interfaces %}
{% if intf.ip is defined %}
   network {{ intf.ip.split('/')[0] }}/{{ intf.ip.split('/')[1] }} area 0.0.0.0
{% endif %}
{% endfor %}
   redistribute rip
   max-lsa {{ ospf_max_lsa }}
!
ipv6 router ospf {{ ospf_process }}
!
router rip
{% for net in rip_networks %}
   network {{ net }}
{% endfor %}
   redistribute ospf
   no shutdown
!
end
